<div id="content" ng-init="$vm.Init()">

	<div class="row">
		<big-breadcrumbs items="['Settings', 'AccountManagement', 'Group']" icon="users" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
	</div>

	<!-- widget grid -->
	<section id="widget-grid" data-widget-grid>
	    <!-- row -->
	    <div class="row">

			<!-- NEW WIDGET START -->
	        <article class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			    <!-- Widget ID (each widget will need unique ID)-->
			    <div id="simple-view-widget" data-widget-sortable="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" data-widget-color="blue" data-jarvis-widget>
			        <!-- widget options:
			        usage: <div data-jarvis-widget id="wid-id-0" data-widget-editbutton="false">
			        data-widget-colorbutton="false"
			        data-widget-editbutton="false"
			        data-widget-togglebutton="false"
			        data-widget-deletebutton="false"
			        data-widget-fullscreenbutton="false"
			        data-widget-custombutton="false"
			        data-widget-collapsed="true"
			        data-widget-sortable="false"
			        -->
			        <header>
			            <span class="widget-icon"> <i class="fa fa-sitemap"></i> </span>
			            <h2>選單 </h2>
			        </header>
			        <!-- widget div-->
			        <div>            
			        	<!-- widget content -->
			            <div class="widget-body">
			                <div class="tree smart-form">
			                   <ul data-alan-treeview data-items="$vm.groupMenu" role="tree"></ul>
			                </div>
			            </div>
			            <!-- end widget content -->
			        </div>
			        <!-- end widget div -->
			    </div>
			    <!-- end widget -->
			</article>
			<!-- WIDGET END -->

	        <!-- NEW WIDGET START -->
	        <article class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
	        	<!-- Widget ID (each widget will need unique ID)-->
				<div id="group" data-widget-sortable="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" data-widget-color="blue" data-jarvis-widget ng-init="ShowTabs = true">
				    <!-- widget options:
				        usage: <div data-jarvis-widget id="wid-id-0" data-widget-editbutton="false">
				        data-widget-colorbutton="false"
				        data-widget-editbutton="false"
				        data-widget-togglebutton="false"
				        data-widget-deletebutton="false"
				        data-widget-fullscreenbutton="false"
				        data-widget-custombutton="false"
				        data-widget-collapsed="true"
				        data-widget-sortable="false"
				    -->
				    <header>
				        <h2>編輯</h2>
				    </header>
				    <!-- widget div-->
				    <div>
				        <!-- widget content -->
						<div class="widget-body">

							<form class="form-horizontal" name="group">
								<fieldset>
									<div class="form-group">
								        <label class="col-md-2 control-label">群組名稱</label>
								        <div class="col-md-10">
								            <input class="form-control" placeholder="請輸入名稱" type="text" ng-model="$vm.vmData.SG_TITLE" required>
								        </div>
								    </div>
								    <div class="form-group">
								        <label class="col-md-2 control-label">群組敘述</label>
								        <div class="col-md-10">
								            <input class="form-control" placeholder="請輸入描述" type="text" ng-model="$vm.vmData.SG_DESC">
								        </div>
								    </div>
								    <div class="form-group">
								        <label class="col-md-2 control-label">作廢</label>
								        <div class="col-md-2">
											<select class="form-control" 
													ng-model="$vm.vmData.SG_STS"
													ng-options="data.value as data.label for data in $vm.boolData">
											</select>
								        </div>
								        <label class="col-md-2 control-label">群組人員</label>
								        <div class="col-md-2">
	                            			<a href-void="" class="btn txt-color-white bg-color-magenta btn-sm" href="#" ng-click="$vm.AddGroupPeople()"><i class="fa fa-plus-square"></i> 新增</a>
								        </div>
								    </div>
								</fieldset>
								<div class="form-actions">
								    <div class="row">
								        <div class="col-md-12">
								            <button class="btn btn-default" type="submit" ng-click="$vm.Return()">
								                {{getWord('Return')}}
								            </button>
								            <button class="btn btn-warning" type="submit" ng-click="$vm.Update()" ng-disabled="!group.$valid">
								                <i class="fa fa-wrench"></i>
								                {{getWord('Update')}}
								            </button>
								        </div>
								    </div>
								</div>
							</form>

						</div>
						<!-- end widget content -->
				    </div>
				    <!-- end widget div -->
				</div>
				<!-- end widget -->
	        </article>
	        <!-- End WIDGET START -->

	    </div>
	</section>

</div>

<script type="text/ng-template" id="addGroupPeople.html">
    <div class="modal-header" ng-init="$ctrl.MdInit()">
	    <h3 class="modal-title" id="modal-title">{{getWord('Group of people')}}</h3>
	</div>
	<div class="modal-body no-padding" id="modal-body">
	    <div id="grid1" ui-grid="$ctrl.mdDataOptions" class="my-ui-grid" ui-grid-pagination ui-grid-resize-columns ui-grid-selection></div>
	</div>
	<div class="modal-footer">
	    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">{{getWord('Add')}}</button>
	    <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">{{getWord('Cancel')}}</button>
	</div>
</script>