<!-- MAIN CONTENT -->
<div id="content" ng-init="$vm.Init()">

	<div class="row">
		<big-breadcrumbs items="['Settings', 'AviationMail']" icon="envelope-o" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
	</div>

	<!-- widget grid -->
	<section id="widget-grid" data-widget-grid>
	    <!-- row -->
	    <div class="row">

	        <!-- NEW WIDGET START -->
	        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	        	<!-- Widget ID (each widget will need unique ID)-->
				<div id="billboard" data-widget-sortable="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" data-widget-color="blue" data-jarvis-widget>
				    <!-- widget options:
				        usage: <div data-jarvis-widget id="wid-id-0" data-widget-editbutton="false">
				        data-widget-colorbutton="false"
				        data-widget-editbutton="false"
				        data-widget-togglebutton="false"
				        data-widget-deletebutton="false"
				        data-widget-fullscreenbutton="false"
				        data-widget-custombutton="false"
				        data-widget-collapsed="true"
				        data-widget-sortable="false"
				    -->
				    <header>
				        <h2>信箱設定 </h2>

				    </header>
				    <!-- widget div-->
				    <div>
				        <!-- widget content -->
						<div class="widget-body no-padding">

							<div class="widget-body-toolbar">
							    <div class="row">
							        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">

							        </div>
							        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 text-right">
							        	<form class="form-inline" role="form">
							                <fieldset>
							                    <div class="form-group">
										            <button class="btn btn-primary"
										            		ng-click="$vm.AddTarget()">
										                新增目標
										            </button>
							                    </div>
							                </fieldset>
							            </form>
							        </div>
							    </div>
							</div>

							<div id="grid1" ui-grid="$vm.vmDataOptions" class="my-ui-grid" ui-grid-pagination ui-grid-resize-columns></div>

						</div>
						<!-- end widget content -->
				    </div>
				    <!-- end widget div -->
				</div>
				<!-- end widget -->
	        </article>
	        <!-- End WIDGET START -->

	    </div>
	</section>

</div>