<div id="content" ng-init="$vm.Init()">

	<div class="row">
		<big-breadcrumbs items="['Settings', 'BillboardEditor', 'News']" icon="newspaper-o" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
	</div>

	<!-- widget grid -->
	<section id="widget-grid" data-widget-grid>
	    <!-- row -->
	    <div class="row">

	        <!-- NEW WIDGET START -->
	        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	        	<!-- Widget ID (each widget will need unique ID)-->
				<div id="managementSettings" data-widget-sortable="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" data-widget-color="blue" data-jarvis-widget ng-init="ShowTabs = true">
				    <!-- widget options:
				        usage: <div data-jarvis-widget id="wid-id-0" data-widget-editbutton="false">
				        data-widget-colorbutton="false"
				        data-widget-editbutton="false"
				        data-widget-togglebutton="false"
				        data-widget-deletebutton="false"
				        data-widget-fullscreenbutton="false"
				        data-widget-custombutton="false"
				        data-widget-collapsed="true"
				        data-widget-sortable="false"
				    -->
				    <header>
				        <h2>文章</h2>
				    </header>
				    <!-- widget div-->
				    <div>
				        <!-- widget content -->
						<div class="widget-body" nv-file-drop="" uploader="$vm.uploader" filters="queueLimit, queueFilter, sizeFilter">

							<form class="form-horizontal" name="newsForm">
								<fieldset>
									<div class="form-group">
								        <label class="col-md-2 control-label">標題</label>
								        <div class="col-md-10">
								            <input class="form-control" placeholder="請輸入標題" type="text" ng-model="$vm.vmData.BB_TITLE" required>
								        </div>
								    </div>
									<div class="form-group" ng-class="(newsForm.POST_FROM.$valid && newsForm.POST_TOXX.$valid) ? '' : 'has-error'">
								        <label class="col-md-2 control-label">開始公佈日期</label>
								        <div class="col-md-4">
								        	<input class="form-control" name="POST_FROM" type="text" ng-model="$vm.vmData.BB_POST_FROM" ui-mask="9999-99-99" ui-mask-placeholder ui-mask-placeholder-char="_" placeholder="請輸入公佈日期 (西元 年-月-日)" model-view-value="true" is-date required/>
								        	<p class="note" ng-show="newsForm.POST_FROM.$valid && !newsForm.POST_FROM.$pristine">開始於 {{newsForm.POST_FROM.$modelValue}}</p>
								        </div>
								        <label class="col-md-2 control-label">結束公佈日期</label>
								        <div class="col-md-4">
								        	<input class="form-control" name="POST_TOXX" type="text" ng-model="$vm.vmData.BB_POST_TOXX" ui-mask="9999-99-99" ui-mask-placeholder ui-mask-placeholder-char="_" placeholder="請輸入公佈日期 (西元 年-月-日)" model-view-value="true" is-date required/>
								        	<p class="note" ng-show="newsForm.POST_TOXX.$valid && !newsForm.POST_TOXX.$pristine">結束於 {{newsForm.POST_TOXX.$modelValue}}</p>
								        </div>
								    </div>
									<div class="form-group">
								        <label class="col-md-2 control-label">置頂</label>
								        <div class="col-md-2">
											<select class="form-control" 
													ng-model="$vm.vmData.BB_STICK_TOP"
													ng-options="data.value as data.label for data in $vm.boolData" required>
											</select>
								        </div>
								        <label class="col-md-2 control-label">公佈類型</label>
								        <div class="col-md-2">
											<select class="form-control" 
													ng-model="$vm.vmData.BB_IO_TYPE"
													ng-options="data.value as data.label for data in $vm.ioTypeData" required>
											</select>
								        </div>
								        <label class="col-md-2 control-label">公佈對象</label>
								        <div class="col-md-2">
	                            			<a href-void="" class="btn txt-color-white bg-color-magenta btn-sm" href="#" ng-click="$vm.AddPostGoal()"><i class="fa fa-plus-square"></i> 新增</a>
								        </div>
								    </div>
									<div class="form-group">
								        <label class="col-md-2 control-label">公佈內容</label>
								        <div class="col-md-10">
								        	<!-- <textarea class="form-control" rows="7" ng-model="$vm.vmData.BB_CONTENT"></textarea> -->
			            					<summernote ng-model="$vm.vmData.BB_CONTENT" config="$vm.snOptions"></summernote>
								        </div>
								    </div>
									<div class="form-group">
								        <label class="col-md-2 control-label">上傳附件</label>
								        <div class="col-md-10">
								            <div class="fileUpload btn btn-primary">
											    <span>選擇檔案</span>
											    <input type="file" class="upload" nv-file-select=""  uploader="$vm.uploader" multiple/>
											</div>
								            <!-- <button type="button" class="btn btn-success btn-s" ng-click="$vm.uploader.uploadAll()" ng-disabled="!$vm.uploader.getNotUploadedItems().length">
					                            <span class="glyphicon glyphicon-upload"></span> 一鍵上傳
					                        </button> -->
								        </div>
								    </div>
									<div class="form-group" ng-show="$vm.uploader.queue.length > 0 || $vm.vmData.UploadedData.length > 0">
								        <label class="col-md-2 control-label"></label>
								        <div class="col-md-10">
								            <table class="table" ng-show="$vm.uploader.queue.length > 0 || $vm.vmData.UploadedData.length > 0">
											    <thead>
											        <tr>
											            <th width="50%">名稱</th>
											            <th ng-show="$vm.uploader.isHTML5">檔案大小</th>
											            <th ng-show="$vm.uploader.isHTML5">進度</th>
											            <th>狀態</th>
											            <th>操作</th>
											        </tr>
											    </thead>
											    <tbody>
											    	<tr ng-repeat="uploaded in $vm.vmData.UploadedData">
											    		<td><strong>{{ uploaded.BBAF_O_FILENAME }}</strong></td>
											            <td>{{ uploaded.BBAF_FILESIZE/1024/1024|number:2 }} MB</td>
											            <td>
											                已上傳
											            </td>
											            <td class="text-center">
											                <span><i class="glyphicon glyphicon-hdd"></i></span>
											            </td>
											            <td nowrap>
											                <button type="button" class="btn btn-danger btn-xs" ng-click="$vm.DeleteUploaded(uploaded, $index)">
											                    <span class="glyphicon glyphicon-trash"></span> 移除
											                </button>
											            </td>
											        </tr>
											        <tr ng-repeat="item in $vm.uploader.queue">
											            <td><strong>{{ item.file.name }}</strong></td>
											            <td ng-show="$vm.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
											            <td ng-show="$vm.uploader.isHTML5">
											                <div class="progress" style="margin-bottom: 0;">
											                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
											                </div>
											            </td>
											            <td class="text-center">
											                <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
											                <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
											                <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
											            </td>
											            <td nowrap>
											                <!-- <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
											                    <span class="glyphicon glyphicon-upload"></span> 上傳
											                </button>
											                <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
											                    <span class="glyphicon glyphicon-ban-circle"></span> 取消
											                </button> -->
											                <button type="button" class="btn btn-warning btn-xs" ng-click="item.remove()">
											                    <span class="glyphicon glyphicon-ban-circle"></span> 取消
											                    <!-- <span class="glyphicon glyphicon-trash"></span> 移除 -->
											                </button>
											            </td>
											        </tr>
											    </tbody>
											</table>
								        </div>
								    </div>
								</fieldset>
								<div class="form-actions">
								    <div class="row">
								        <div class="col-md-12">
								            <button class="btn btn-default" type="submit" ng-click="$vm.Return()">
								                {{getWord('Return')}}
								            </button>
								            <button class="btn btn-primary" type="submit" ng-click="$vm.Add()" ng-disabled="!newsForm.$valid" ng-show="$vm.vmData.IU == 'Add'">
								                <i class="fa fa-save"></i>
								                {{getWord('Add')}}
								            </button>
								            <button class="btn btn-warning" type="submit" ng-click="$vm.Update()" ng-disabled="!newsForm.$valid" ng-show="$vm.vmData.IU == 'Update'">
								                <i class="fa fa-wrench"></i>
								                {{getWord('Update')}}
								            </button>
								        </div>
								    </div>
								</div>
							</form>

						</div>
						<!-- end widget content -->
				    </div>
				    <!-- end widget div -->
				</div>
				<!-- end widget -->
	        </article>
	        <!-- End WIDGET START -->

	    </div>
	</section>

</div>

<script type="text/ng-template" id="addPostGoalModalContent.html">
    <div class="modal-header" ng-init="$ctrl.MdInit()">
	    <h3 class="modal-title" id="modal-title">公佈對象</h3>
	</div>
	<div class="modal-body no-padding" id="modal-body">
	    <div id="grid1" ui-grid="$ctrl.mdDataOptions" class="my-ui-grid" ui-grid-pagination ui-grid-resize-columns ui-grid-selection></div>
	</div>
	<div class="modal-footer">
	    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()" ng-disabled="$ctrl.mdDataGridApi.selection.getSelectedRows() == 0">{{getWord('OK')}}</button>
	    <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">{{getWord('Cancel')}}</button>
	</div>
</script>